<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titulo.app}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/estilo.css"/>		
</head>
<body lang="pt-br" ng-app="carrinhoApp" class="ng-cloak">
	<div ng-controller="CarrinhoController as carrinhoController" class="container">
		<div class="row">
			<div class="col titulo-principal">
				<h3 th:text="#{titulo.app}"></h3> 	
			</div>
		</div>
		<div class="alert alert-success" role="alert" ng-show="carrinhoController.msgSucesso != ''">
			<span ng-bind="carrinhoController.msgSucesso"></span>
			 <span class="close" aria-label="Close" ng-click="carrinhoController.msgSucesso = ''">
			   <span aria-hidden="true">&times;</span>
			 </span>
		</div>
		<div class="alert alert-danger" role="alert" ng-show="carrinhoController.msgErro != ''">
			<span ng-bind="carrinhoController.msgErro"></span>
			<span class="close" aria-label="Close" ng-click="carrinhoController.msgErro = ''">
			  <span aria-hidden="true">&times;</span>
			</span>
		</div>
		<div class="row adicionar-produto" >
			<div class="col"> 					
				<div class="form-group">					
					<h6 th:text="#{titulo.busca.produto}"></h6>
					<input 
						type="text" 												
						class="form-control" 
						id="produto" 
						autocomplete="off"
						th:placeholder="#{placeholder.busca.produto}" 
						ng-focus="carrinhoController.focus=true" 						 
						ng-keyup="carrinhoController.filtrar()"
						ng-model="carrinhoController.busca">	
					<div class="resultados" ng-show="carrinhoController.focus">
				    	<div 
				    		class="resultado" 
				    		ng-repeat="item in carrinhoController.produtosFiltrados"				    		
				    		ng-click="carrinhoController.focus = false; carrinhoController.setProduto(item)">{{item.nome}} - R$ {{item.valor}}</div>
				  	</div>					
		    		<button ng-click="carrinhoController.adicionarProduto()" class="btn btn-primary mb-2" th:text="#{botao.adicionar}"></button>				
				</div>						    	
	    	</div>
    	</div>
    	<div class="row">
			<div class="col">
				<h6 th:text="#{titulo.carrinho}"></h6> 	
			</div>
		</div>
    	<div class="row">   
    		<div class="col"> 	
		    	<table class="table table-hover">
			        <thead>
			            <tr>
			                <th th:text="#{campo.id}"></th>
			                <th th:text="#{campo.nome}"></th>
			                <th th:text="#{campo.quantidade}"></th>
			                <th th:text="#{campo.valor}"></th>
			                <th th:text="#{campo.subtotal}"></th>
			                <th th:text="#{botao.remover}"></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="produto in carrinhoController.carrinho">
			                <td>{{produto.id}}</td>
			                <td>{{produto.nome}}</td>
			                <td>
				                	<input 
				                	type="number" 
				                	ng-model="produto.quantidade"
				                	ng-blur="carrinhoController.atualizarProduto(produto)">
				            </td>
			                <td>{{produto.valor}}</td>
			                <td ng-init="subtotal = produto.quantidade * produto.valor">{{subtotal}}</td>
			                <td>
			                	<button type="button" ng-click="carrinhoController.removerProduto(produto)" class="btn btn-secondary">Remover</button>
			                </td>			                
			            </tr>
			            <tr class="linha-totalizadora" ng-show="carrinhoController.carrinho.length > 0">
			                <td th:text="#{campo.total}"></td>
			                <td></td>
			                <td>{{carrinhoController.qtdTotal}}</td>
			                <td></td>
			                <td>{{carrinhoController.valorTotal}}</td>			                
			                <td></td>			                
			            </tr>
			        </tbody>
			    </table>
			    
			    <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-show="carrinhoController.msgCarrinho != ''">
				  <span ng-bind="carrinhoController.msgCarrinho"></span>
				  <span class="close" aria-label="Close" ng-click="carrinhoController.msgCarrinho = ''">
				    <span aria-hidden="true">&times;</span>
				  </span>
				</div>
		    </div>
	    </div>
	    <div class="row" ng-show="carrinhoController.carrinho.lenght > 0">
			<div class="col tar">
				<button ng-click="carrinhoController.limparCarrinho()" class="btn btn-primary mb-2" th:text="#{botao.limpar}"></button> 	
			</div>
		</div>	    
	    <div class="row">
			<div class="col rodape">
				<p th:text="#{texto.rodape}"></p> 	
			</div>
		</div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/service/carrinho_service.js"></script>
    <script src="/js/service/produto_service.js"></script>
    <script src="/js/controller/carrinho_controller.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
    
</body>
</html>